<!-- <footer style="background: rgba(41, 42, 41, 0.8);"
class="footer  py-3 mt-auto">
    <div class="container">
        <span class="text-light  ">&copy; ConnectPlay 2024</span>
    </div>
</footer> -->